* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    background: url("https://plus.unsplash.com/premium_photo-1706625697115-0a283ba52d2c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center center/cover;

    height: 100vh;
    width: auto;
}

.mainNavbar {
    display: flex;
    background-color: rgb(204 204 204);
    justify-content: space-around;
    align-items: center;
}

.logoContainer {
    height: 50px;
    width: 50px;
}

.logoContainer img {
    height: 100%;
    width: 50px;
    border-radius: 5px;
}

.pageContainer {
    display: flex;
    padding: 5px;
}

.pageContainer a {
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    padding: 4px;
    font-weight: bold;
}

.responsiveHam {
    display: none;
}

@media screen and (max-width:1000px) {

    .mainNavbar {
        display: block;
    }

    .pageContainer {
        display: block;

    }

    .responsiveHam {
        display: block;
    }

    .pageContainer a {
        display: block;
        margin-left: 0px;
    }


    .logoContainer {
        margin-left: 12px;
        display: block;
        width: auto;
        margin-left: 0px;
    }

    .logoContainer img {
        margin-left: 12px;
    }

    .pageContainer {
        padding: 7px;
    }

    .responsiveNavbar {
        display: none;
    }
}